# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc

# IDE
**/.idea/

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/runs/*
**/logs/*
**/recordings/*

# Pre-trained
**/.pretrained_checkpoints/
